Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Hotels">

		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" type="HotelType" maxOccurs="unbounded" minOccurs="1"/>
									
			</xsd:sequence>
			
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="HotelType">
		
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
					

			<xsd:element name="Address" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
							<xsd:element name="Number" type="xsd:integer"/>
						<xsd:element name="Street" type="xsd:string"/>
						<xsd:element name="City" type="xsd:string"/>
						<xsd:element name="State" type="xsd:string"/>
						<xsd:element name="Zip" type="xsd:string"/>

					</xsd:sequence>
					<xsd:attribute name="NearstAirport" type="xsd:string" use="required"/>

				</xsd:complexType>
			</xsd:element>



		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>


	</xsd:complexType>
    


</xsd:schema>


